.navigator{
    margin-top: 10px;
    background-color: cadetblue;
}

.container{
	margin-top:10px;
	margin-left:2px;
	float:left;
}

.container_left{
	margin-right:10px;
	float:left;
	background-color:#000000;
}