.navigator{
    margin-top: 10px;
    background-color: #f32313;
    width: 800px;
    height: 400px
}

.navigator ul li{
	margin-right:10px;
}

.container{
	margin-top:10px;
	margin-left:2px;
	float:left;
}

.container_left{
	margin-right:10px;
	float:left;
	background-color:#000000;
}